.order{
    text-align: center;
    height: 100hv;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    color: rgb(39, 128, 131);
    font-family:Arial, Helvetica, sans-serif;
}

.order_div{
 padding: 20px;
}

.order_div p{
  color: rgb(14, 14, 14);
  font-weight: 700;
   }



   input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.btnAdd2{
  background: #31BB2E;
  color:white;
 font-size: 15px;
}

.btnAdd2:hover{
  color: #31BB2E;
  background:white;
  cursor: pointer;
}

.btnAdd22{
  background: #31BB2E;
  color:white;
 font-size: 15px;
 border: 4px rgb(68, 60, 60)d solid;
}

.btnAdd22:hover{
  color: #d80000;
  background:white;
  cursor:no-drop;
}



