

.rwd-table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #93b0d0;
  color: #a36c22;

}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 100%;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #e0e0e0;
    color: black;
   
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */




.burdocolor input[type=button] {
    background: #a36c22;
    color:white;
   font-size: 15px;
}


.burdocolor input[type=button]:hover {
    color: #a36c22;
    background:white;
    cursor: pointer;

}




.container {
  display: block;
  text-align: center;

}



.burdocolor {
    color: #a36c22;
   
}

h1{
  text-align: center;
  color: #a36c22;
}

/*  =    ======== ===== = = */


.containerk {
  width: 100;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#eacc97;
}

.formk{
background:#fff;
padding:30px 34px;
margin:24px 0 0;
min-width:400px;
min-height:273px;
border-radius:5px;
line-height: 24px;
box-shadow:3px 1px 8px rgba(255,255,255,.5),3px 2px 8px rgba(0,0,0,.1)
}
.input-fieldk{
display:flex;
flex-direction:column;
gap:5px;
width:100%;
margin-bottom:15px;
}
.errork{
border: 1px solid red;
}
.input1[type="text"],.input1[type="password"]{
padding:15px;
border-radius:5px;
border:1px solid transparent;
background:hsl(210, 38%, 95%);
line-height: 24px;
outline:none;
}
.input1[type="email"]:focus,.input1[type="password"]:focus{
border-bottom:1px solid orange;
/*   border-radius:5px; */
}
.input1[type="checkbox"]{
margin-right:10px;
}
.actionk {
align-items:center;
border-color: hsl(214, 32%, 91%);
color: hsl(220, 26%, 14%);
display:flex;
gap: normal;
justify-content: flex-end;
line-height: 24px;
margin: 16px 0px 0px;
}
.actionk a{
border-color:hsl(214, 32%, 91%);
color:hsl(220, 26%, 14%);
font-family:Nunito;
font-size:14px;
gap:normal;
line-height:21px;
text-transform:capitalize;
}
.btnk{
padding:10px 20px;
align-items: flex-start;
background-color: hsl(218, 17%, 35%);
border-color: hsla(0, 0%, 0%, 0);
border-color: hsla(0, 0%, 0%, 0);
border-radius: 4px;
border-style: solid;
border-width: 1px;
box-shadow: hsla(0, 0%, 0%, 0.1) 0px 4px 6px -1px;
color: hsl(0, 0%, 100%);
font-size:14px;
font-weight:600;
gap: normal;
letter-spacing: 1.4px;
line-height: 21px;
margin: 0px 0px 0px 16px;
padding: 8px 16px;
text-align: center;
text-transform: uppercase;
color:hsl(0, 0%, 100%);
font-family:Nunito;
cursor:pointer;
transition:.2s ease-in-out;
}
.btnk:hover{
background:hsl(218, 17%, 24%);
}
a{
text-decoration:none;
}


/* */

.container8 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 97vw;
	
}




#navbar8 {
	width: 100%;
	display: flex;
  font-size: 18px;
	height: 50px;
}




#navbar8 ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

#navbar8 ul li a {
	display: flex;
	flex-direction: row;
	padding: 20px;
	text-align: center;
  color: #6f2205;
}
#navbar8 ul li a:hover {
  font-weight: bold;
  color: black;
  
}



