.div-Opinion1 {
    padding: 40px;
    width: 350px;
  }
.div-Opinion2 {
    padding: 40px;
    width: 400px;
    
  }
  .div-Opinion1 h3{
      color: #a36c22 ;
      margin-top: 0;
      text-align: center;
  }
  .div-Opinion2 h3{
      color: #6f2205;
      margin-top: 0;
      text-align: center;
  }

  textarea {
    resize: none;
  }
  
  .grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  
  .grid1 > article {
    border: 2px solid #6f2205;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  
  .grid1 .text1 {
    padding: 20px;
    font-size: 18px;
  }



  
  .girdwork1{
    display: flex;
    flex-wrap: wrap;
  
}

.btnAdd1{
  background: #eacc97;
  color:#6f2205;
 font-size: 15px;
 border-radius: 20px;
}

.btnAdd1:hover{
  color: #eacc97;
  background:#6f2205;
  cursor: pointer;
}






